---
import Layout from '../layouts/Default.astro'
import Navbar from '../components/Navbar.astro'
import Hero from '../components/Hero.astro'
import BarChart from '../components/BarChart.astro'

const title = 'Integrated report 2024'
---

<Layout title={title}>
  <Navbar />
  <Hero 
    imageUrl="/img/placeholder/37331.jpg" 
    imageAlt="Campus scene"
    heroTitle="Integrated report <span>2024</span>"
    heroSubheading="Financial Statements for the year ended 31 July 2024"
    buttons = {
      [
        { 
          text: "Download as PDF",
          url: "/",
          btnClass: 'primary-btn raised mr-2'
        },
        {
          text: "Discover",
          url: "#content"
        }
      ]
    }
  />

  <section class="section is-medium" id="content">
    <div class="container">
      <div class="columns">
        <div class="column is-7">
          <h2 class="title" style="font-size: clamp(1rem, -0.5862rem + 7.931vw, 3.875rem); line-height: 1;">What we do</h2>
          <div class="divider"></div>
          <p class="is-size-5 pt-5">Welcome to our 2023-24 integrated report. We were delighted to
            welcome Professor Nic Beech as Vice-Chancellor at the beginning
            of the academic year. This year has also been an opportunity for
            us to be clear about our current strengths and reflect on how we
            can realise the potential of the University of Salford in a newly
            challenging operating environment.</p>
        </div>
      </div>
      <div class="columns">
        <div class="column is-12 typo-cols-2">
          <p>
            During the current year we have begun
            to refine our purpose – to enrich lives
            – and are generating new ideas and
            knowledge that contribute towards a
            more sustainable, equitable, healthy,
            creative and prosperous society.
            Competition has become a defining
            feature of higher education in recent
            years, especially in student recruitment,
            in research funding and in university
            rankings.
          </p>
          <p>
            Unsurprisingly, elements of competition
            filter through to internal structures,
            creating silos and lost opportunities to
            add greater value for stakeholders. Truly
            working to enrich lives challenges us
            to look at ourselves and how we work
            with each other, both across University
            activities and with our broad range of
            partners. Collaborative advantage –
            achieving things together that we could
            not achieve alone – is redefining how
            we do things at Salford.
            We believe we can only realise the
            potential collaborative advantage
            offers if we develop as a connected
            community. To us, this means building
            a culture where every student and
            colleague knows they matter by
            championing opportunity and inclusion
            for all. In this year’s integrated report
            we are proud to showcase how
            collaborative advantage is already
            becoming our default way of working
            and is enriching lives.
          </p>
          <p>
            We are nationally recognised for
            our inclusive approach to working
            with industry and there are great
            opportunities to show what happens
            when this approach is brought to bear
            on the big issues that face society:
            issues such as health inequalities, socioeconomic
            inclusion and productivity,
            sustainable development, and advancing
            digital and technical progress. Our
            new corporate strategy, focusing
            on innovation and how collaborative
            advantage supports our longer-term
            goals, will be finalised early in the 2024-
            25 academic year. We look forward to
            sharing further details next year.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-light-grey is-medium">
    <div class="container">
      <div class="columns">
        <div class="column is-7">
          <h2 class="title" style="font-size: clamp(1rem, -0.5862rem + 7.931vw, 3.875rem); line-height: 1;">Highlights from our community</h2>
          <div class="divider"></div>
        </div>
        <div class="column is-5">
          <figure class="image is-3by2">
            <img src="/img/placeholder/Caroline Redman Lusher 236 N1105.jpg" alt="Placeholder image" />
            <figcaption>Award winning singer and musician Caroline
              Redman Lusher’s Rock Choir perform at the
              awarding of her Honorary Doctorate at summer
              graduation.</figcaption>
          </figure>          
        </div>
      </div>
      <div class="columns">
        <div class="column is-5">
          <figure class="image">
            <img src="/img/placeholder/Jeanette Gamble_1.jpg" alt="Placeholder image" />
          </figure>
          <p class="m-2">
            The 2023 Alumni Lifetime
            Achievement Award went to
            Jeanette Gamble, who graduated
            in 2000 with a BSc in Business
            Information Systems. Jeanette
            went on to become one of global
            investment bank Morgan Stanley’s
            youngest female Managing
            Directors, and has since used her
            expertise and influence to break
            down gender barriers within the
            world of tech.
          </p>     
        </div>
      </div>
      <!-- <div class="feature-cards content-wrapper">
        <div class="columns">
          <div class="column is-4">
            <div class="feature-card is-bordered has-text-centered is-feature-reveal">
              <div class="card-title">
                <h4>App builder</h4>
              </div>
              <div class="card-icon">
                <img src="/img/icons/web.svg" />
              </div>
              <div class="card-text">
                <p>This is some cool explanatory text that is on two rows</p>
              </div>
              <div class="card-action">
                <a href="#" class="button btn-align-md primary-btn raised">Free Trial</a>
              </div>
            </div>
          </div>
          <div class="column is-4">
            <div class="feature-card is-bordered has-text-centered is-feature-reveal">
              <div class="card-title">
                <h4>Cloud integration</h4>
              </div>
              <div class="card-icon">
                <img src="/img/icons/rocket.svg" />
              </div>
              <div class="card-text">
                <p>This is some explanatory text that is on two rows</p>
              </div>
              <div class="card-action">
                <a href="#" class="button btn-align-md primary-btn raised">Get Started</a>
              </div>
            </div>
          </div>
          <div class="column is-4">
            <div class="feature-card is-bordered has-text-centered is-feature-reveal">
              <div class="card-title">
                <h4>Addons & Plugins</h4>
              </div>
              <div class="card-icon">
                <img src="/img/icons/light-bulb.svg" />
              </div>
              <div class="card-text">
                <p>This is some explanatory text that is on two rows</p>
              </div>
              <div class="card-action">
                <a href="#" class="button btn-align-md primary-btn raised">Get Started</a>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </section>

  <section class="section is-medium">
    <div class="container">
      <div class="columns">
        <div class="column is-7">
          <div class="columns">
            <blockquote class="callout column is-8">
              <p>
                The pace of change, development
                and improvement will increase,
                and I know that our University of
                Salford community is more than
                up to this challenge.
              </p>
            </blockquote>
          </div>
          <div class="column p-0">
            <h2 class="title is-uppercase" style="font-size: clamp(1rem, -0.5862rem + 7.931vw, 3.875rem); line-height: 1;">
              A message from <span style="font-size: clamp(1rem, -0.931rem + 9.6552vw, 4.5rem); font-weight: 800">our vice-chancellor</span>
            </h2>
            <div class="divider"></div>
            <p class="is-size-5 pt-6">
              This year has been a time of change, both within the University and across the external
              environment, a new Government brings new opportunities, new challenges and new focus on
              our purpose and our work. Whilst the new Government is now in place, the sector’s key issues
              around long term funding, inflationary pressures, and student and staff wellbeing remain.
              We aim to bring the same innovative and collaborative mindset that we have in research and
              teaching to being business-like and values-led in how we operate and navigate the external
              environment.
            </p>
          </div>

        </div>
        <div class="column is-5">
          <figure class="image is-3by4">
            <img src="/img/placeholder/nic-beech.jpg" alt="Placeholder image" />
            <figcaption>Professor Nic Beech, Vice-Chancellor</figcaption>
          </figure>
      </div>
    
    </div>
    <div class="columns">
      <div class="column is-12 typo-cols-2">

        <p>
          It has been a privilege for me in my first year at Salford
          to meet with over 2,000 members of staff, many
          students, trades unions, businesses and key partners
          such as Salford City Council. It has been a delight to
          join such a diverse, inclusive and purposeful community,
          and we aspire to being evermore inclusive. We are in the
          process of refreshing our strategy and all our partners,
          students and staff are playing key roles in developing the
          vision of how we want to shape our future.
        </p>
        <p>
          It has been a year of excitement with the launch of our
          Centre for Sustainable Innovation, the Craig Easton
          project and the achievement of an Ofsted Good rating
          to name but a few moments that you can read more
          about in this report. We have also been developing
          our physical and digital environment and we are now
          embarking on the next wave of our campus connectivity
          plan - our new health clinic and Greater Manchester
          Institute of Technology buildings are moving from the
          drawing board to the construction phase - and changing
          our systems to meet the needs of our students and
          staff, both now and in the future.
        </p>
        <p>
          This summer we took the opportunity to include
          speeches from our recent graduates within our
          graduation ceremonies. It was inspiring to hear about
          their experiences during their time with us, and the
          ongoing impact that studying at Salford is having on
          their lives.
        </p>
        <p>
          Our new academic year starts with a renewed focus
          on our overarching aim, innovating to enrich lives. For
          some time our core focus has been on industry and
          now is the time to broaden this to place more emphasis
          on inclusivity and social purpose. This will be done
          through the lens of four key themes: building prosperity
          and equity, enabling healthier living, improving the
          environment and sustainability, and developing cutting
          edge creative and innovative practice.
        </p>
        <p>
          I am looking forward to seeing our students, colleagues
          and partners bring all of this to life. The pace of change,
          development and improvement will increase, and I know
          that our University of Salford community is more than
          up to this challenge.
        </p>
      </div>
    </div>
  </section>
  <section class="section section-light-grey ">
    <div class="container">
      <div class="columns">
        <div class="coulmn is-5">
          <h2 class="title">Capital expenditure</h2>
          <div class="divider"></div>
          <p class="pt-3">We continue to invest in our estate
            and equipment, spending £11.5m.
            Schemes in 2023-24 included the
            commencement of the Institute of
            Technology, Health and acoustics
            buildings as well as expenditure on
            One Digital Campus and equipment.</p>
        </div>
        <div class="column is-7">
          <BarChart />
        </div>
      </div>

    </div>
  </section>
<!-- 
  <section class="section is-medium section-feature-grey">
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2">Awesome Features</h2>
        <h3 class="subtitle is-5 is-muted">To make you super happy</h3>
        <div class="divider is-centered"></div>
      </div>

      <div class="columns is-vcentered side-feature mt-60">
        <div class="column is-4 is-offset-2">
          <h3 class="title is-3 mb-10 is-title-reveal">Connect with people</h3>
          <p class="subtitle is-5 is-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum audissem Antiochum, Brute, ut solebam, cum M. Quae diligentissime contra Aristonem dicuntur a Chryippo.
          </p>
        </div>
        <div class="column is-5">
          <img src="/img/illustrations/features/feature-1.png" alt="" />
        </div>
      </div>

      <div class="columns is-vcentered side-feature mt-60">
        <div class="column is-5 is-offset-1">
          <img src="/img/illustrations/features/feature-2.png" alt="" />
        </div>
        <div class="column is-4 is-offset-1">
          <h3 class="title is-3 mb-10 is-title-reveal">Collaborate easily</h3>
          <p class="subtitle is-5 is-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum audissem Antiochum, Brute, ut solebam, cum M. Quae diligentissime contra Aristonem dicuntur a Chryippo.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-feature-grey is-medium">
    <div class="container">
      <div class="columns is-vcentered app-side">
        <div class="column is-4 is-offset-1">
          <h3 class="title is-3 is-spaced is-title-reveal">An intuitive app</h3>
          <p class="subtitle is-5 is-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum audissem Antiochum, Brute, ut solebam, cum M. Quae diligentissime contra Aristonem dicuntur a Chryippo.
          </p>
        </div>
        <div class="column is-7">
          <div class="has-text-centered">
            <img class="side-image" src="/img/illustrations/workers.svg" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-medium">
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2">Wait, there's more</h2>
        <h3 class="subtitle is-5 is-muted">To make you super happy</h3>
        <div class="divider is-centered"></div>
      </div>

      <div class="content-wrapper">
        <div class="columns is-multiline icon-list">
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <iconify-icon class="iconify" icon="fa6-brands:github"></iconify-icon>
              </div>
              <h4>Github</h4>
              <p>Some feature text</p>
            </div>
          </div>
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <iconify-icon class="iconify" icon="fa6-brands:bitbucket"></iconify-icon>
              </div>
              <h4>Bitbucket</h4>
              <p>Some feature text</p>
            </div>
          </div>
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <iconify-icon class="iconify" icon="fa6-brands:slack"></iconify-icon>
              </div>
              <h4>Slack</h4>
              <p>Some feature text</p>
            </div>
          </div>
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <iconify-icon class="iconify" icon="fa6-brands:npm"></iconify-icon>
              </div>
              <h4>Npm</h4>
              <p>Some feature text</p>
            </div>
          </div>
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <iconify-icon class="iconify" icon="fluent:javascript-16-regular"></iconify-icon>
              </div>
              <h4>Javascript</h4>
              <p>Some feature text</p>
            </div>
          </div>
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <iconify-icon class="iconify" icon="fontisto:nodejs"></iconify-icon>
              </div>
              <h4>Nodejs</h4>
              <p>Some feature text</p>
            </div>
          </div>
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <iconify-icon class="iconify" icon="ph:angular-logo"></iconify-icon>
              </div>
              <h4>Angular</h4>
              <p>Some feature text</p>
            </div>
          </div>
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <iconify-icon class="iconify" icon="bi:google"></iconify-icon>
              </div>
              <h4>Google</h4>
              <p>Some feature text</p>
            </div>
          </div>
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <iconify-icon class="iconify" icon="carbon:logo-python"></iconify-icon>
              </div>
              <h4>Python</h4>
              <p>Some feature text</p>
            </div>
          </div>
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <iconify-icon class="iconify" icon="bi:wordpress"></iconify-icon>
              </div>
              <h4>WordPress</h4>
              <p>Some feature text</p>
            </div>
          </div>
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <iconify-icon class="iconify" icon="icon-park-solid:android"></iconify-icon>
              </div>
              <h4>Android</h4>
              <p>Some feature text</p>
            </div>
          </div>
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <iconify-icon class="iconify" icon="uiw:apple"></iconify-icon>
              </div>
              <h4>Apple</h4>
              <p>Some feature text</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-medium has-background-image" data-background="https://source.unsplash.com/g30P1zcOzXo/1600x900" data-color="#4FC1EA" data-color-opacity=".6">
    <div class="overlay"></div>
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2 light-text is-spaced">Our clients love us</h2>
        <h3 class="subtitle is-5 light-text">Look at what they say about us</h3>
      </div>

      <div class="testimonials content-wrapper">
        <div class="columns is-vcentered">
          <div class="column is-4">
            <figure class="testimonial">
              <blockquote>
                Lorem ipsum dolor sit amet, elit deleniti dissentias quo eu, hinc minim appetere te usu, ea case duis scribentur has. Duo te consequat elaboraret, has quando suavitate at.
              </blockquote>
              <div class="author">
                <img src="/img/illustrations/faces/1.png" alt="" />
                <div>
                  <h5>Irma Walters</h5>
                  <span>Accountant</span>
                </div>
              </div>
            </figure>
          </div>
          <div class="column is-4">
            <figure class="testimonial">
              <blockquote>
                Lorem ipsum dolor sit amet, elit deleniti dissentias quo eu, hinc minim appetere te usu, ea case duis scribentur has. Duo te consequat elaboraret, has quando suavitate at.
              </blockquote>
              <div class="author">
                <img src="/img/illustrations/faces/2.png" alt="" />
                <div>
                  <h5>John Bradley</h5>
                  <span>Financial Analyst</span>
                </div>
              </div>
            </figure>
          </div>
          <div class="column is-4">
            <figure class="testimonial">
              <blockquote>
                Lorem ipsum dolor sit amet, elit deleniti dissentias quo eu, hinc minim appetere te usu, ea case duis scribentur has. Duo te consequat elaboraret, has quando suavitate at.
              </blockquote>
              <div class="author">
                <img src="/img/illustrations/faces/3.png" alt="" />
                <div>
                  <h5>Gary Blackman</h5>
                  <span>HR Manager</span>
                </div>
              </div>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-medium">
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2">Get Started</h2>
        <h3 class="subtitle is-5 is-muted">Choose one of our plans</h3>
        <div class="divider is-centered"></div>
      </div>

      <div class="pricing-wrap">
        <div class="feature-card is-pricing has-text-centered">
          <h3 class="plan-name">Starter</h3>
          <img src="/img/illustrations/pricing/1.svg" alt="" />
          <div class="price">0</div>
          <p>Sign up, get some awesome features and get started now</p>
          <a class="button is-fullwidth is-bold">Get Started</a>
        </div>
        <div class="feature-card is-pricing has-text-centered">
          <h3 class="plan-name">Pro</h3>
          <img src="/img/illustrations/pricing/2.svg" alt="" />
          <div class="price">15</div>
          <p>Sign up, get some awesome features and get started now</p>
          <a class="button is-fullwidth primary-btn raised is-bold">Get Started</a>
        </div>
        <div class="feature-card is-pricing has-text-centered">
          <h3 class="plan-name">Business</h3>
          <img src="/img/illustrations/pricing/3.svg" alt="" />
          <div class="price">30</div>
          <p>Sign up, get some awesome features and get started now</p>
          <a class="button is-fullwidth is-bold">Get Started</a>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-light-grey is-medium">
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2 is-spaced">Drop us a line or two</h2>
        <h3 class="subtitle is-5 is-muted">We'd love to hear from You</h3>
        <div class="divider is-centered"></div>
      </div>

      <div class="content-wrapper">
        <div class="columns">
          <div class="column is-6 is-offset-3">
            <form>
              <div class="columns is-multiline">
                <div class="column is-6">
                  <input class="input is-medium" type="text" placeholder="First Name *" />
                </div>
                <div class="column is-6">
                  <input class="input is-medium" type="text" placeholder="Last Name *" />
                </div>
                <div class="column is-6">
                  <input class="input is-medium" type="text" placeholder="Email *" />
                </div>
                <div class="column is-6">
                  <input class="input is-medium" type="email" placeholder="Company" />
                </div>
                <div class="column is-12">
                  <textarea class="textarea" rows="6" placeholder=""></textarea>
                </div>
                <div class="column is-12">
                  <div class="form-footer has-text-right mt-10">
                    <button class="button cta is-large primary-btn form-button raised is-clear">Send Message</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- <div id="auth-modal" class="modal">
    <div class="modal-background modal-dismiss"></div>
    <div class="modal-content">
      <div class="flex-card auth-card">
        <div class="tabs-wrapper">
          <div class="tabs">
            <ul>
              <li class="is-active" data-tab="login-tab"><a>Login</a></li>
              <li data-tab="register-tab"><a>Register</a></li>
            </ul>
          </div>
          <div id="login-tab" class="tab-content is-active">
            <div class="field">
              <label>Username</label>
              <div class="control">
                <input type="text" class="input is-medium" placeholder="Enter username" />
              </div>
            </div>
            <div class="field">
              <label>Password</label>
              <div class="control">
                <input type="password" class="input is-medium" placeholder="Enter password" />
              </div>
            </div>

            <a class="button is-fullwidth secondary-btn is-rounded raised">Log in</a>
          </div>
        </div>
      </div>
    </div>
    <button class="modal-close is-large modal-dismiss" aria-label="close"></button>
  </div> -->
</Layout>
