<footer class="footer footer-dark">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h2 class="title" style="color: white; ">Popular links</h2>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="footer-logo">
          <img src="/img/logo/uos-logo-white.svg" />
        </div>
      </div>
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>Get in touch</h3>
          </div>
          <ul class="link-list">
            <li><a href="#">Lorem, ipsum.</a></li>
            <li><a href="#">Hic, aliquid.</a></li>
            <li><a href="#">Consequatur, repudiandae</a></li>
            <li><a href="#">Quaerat, amet</a></li>
            <li><a href="#">Perspiciatis, non.</a></li>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>Quick links</h3>
          </div>
          <ul class="link-list">
            <li><a href="#">Hic, aliquid.</a></li>
            <li><a href="#">Consequatur, repudiandae</a></li>
            <li><a href="#">Quaerat, amet</a></li>
            <li><a href="#">Perspiciatis, non.</a></li>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>Questions</h3>
          </div>
          <ul class="link-list">
            <li><a href="#">Consequatur, repudiandae?</a></li>
            <li><a href="#">Quaerat, amet?</a></li>
            <li><a href="#">Perspiciatis, non?</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
