<nav class="navbar is-fresh is-transparent no-shadow" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="./img/logo/uos-logo.svg" alt="" width="112" height="28" />
      </a>
    </div>
  </div>
</nav>
